/*
Color Palette: 
background color: #F4F4F4
font color: #000000
secondary color: #F0A500
tertiary color: #CF7500
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;600&display=swap');
/*
'Rubik', sans-serif;
font-weight: 200;
font-weight: 400;
font-weight: 600;
*/

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;600&display=swap');
/*
'Quicksand', sans-serif;
font-weight: 300;
font-weight: 500;
font-weight: 700;
*/


html {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
}

a {
    transition: color .5s;
    color: #f0a500;
}

a:hover {
    color: #f7dda1;
}

.contactDetails{
    color: white;
}

.aboutUs {
    color: white;
}

.questionTitle{
    text-align: center;
    margin: 0.6rem;
}

.questions{
    margin: 0.6rem;
    color: grey;
}

.images2 {
    height: 30%;
    width: 30%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.marketing {
    
}

.bright {
    transition:  filter .2s;
}

.bright:hover {
    filter: brightness(170%);
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.02);
}

.zoom-bright:hover {
    transform: scale(1.04);
    filter: brightness(90%);
}
.zoom-bright {
    transition: transform .2s, filter .2s; /* Animation */
}

.dim:hover {
    filter: brightness(70%);
}
.dim {
    transition: filter .3s;
}

.link-color {
    color: rgba(240, 165, 0, 0.9);
}
.img-style2 {
    width: 120px;
}