/*
Color Palette: 
background color: #F4F4F4
font color: #000000
secondary color: #F0A500
tertiary color: #CF7500
*/

@import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
/* font-family: 'Rubik', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
/* font-family: 'Bad Script', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
/* font-family: 'Quicksand', sans-serif; */


body{
    background-color: #1F1F1F;
}

.contactDetails{
    color: white;
}

.aboutUs {
<<<<<<< HEAD
    color: white
}

/* -------------------------- NAVBAR --------------------------*/
=======
    color: white;
}

.images2 {
    height: 30%;
    width: 30%;
}
>>>>>>> 7331e276f31f53b6ba895d9b8547cd7742468f3b
